.more-less-btn {
  grid-area: 2 / 2 / 3 / 3;
  align-self: end;
  justify-self: center;
  margin-bottom: 100px;
  color: black;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity .5s;

  &:hover {
    opacity: 0.9;
  }

  & .more-less {
    letter-spacing: 5px;
  }

  & .arrow {

    margin-left: 10px;
    background-color: black;
    border-radius: 100px;
    color: white;
    padding: 0 5px;

    & i {
      justify-content: center;
      align-items: center;
    }
  }
}